body {
    text-align: center;
}
p {
    font-size:23px;
    font-family: Dancing Script;
}
h1 { 
    font-family: srisakdi;
    font-size:40px;
    text-shadow: 2px 2px  grey;
}
img {
    height: 350px;
    border-radius: 48px;
    border: 5px dotted grey;
}
h2 { 
    font-family: charmonman;
    color: #DB7093;
    font-size:30px;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}
h3 { 
    font-size: 30px;
    font-family: mali;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: coral;
    
}
h4 { 
    font-size: 30px;
    font-family: satisfy;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color:PaleVioletRed;
}
h5 {
    font-size: 30px;
    font-family: charmonman;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: crimson;
}
h6 { 
    font-size: 30px;
    font-family: courgette;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: CornflowerBlue;
}
.blue{
    color:	navy;
    text-shadow: 2px 2px  #B0E0E6;
}
.orange{
    color: orange;
}
.red{
    color: indianred;
}